In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
possible_itineraries=pd.read_csv(r"G:\Unidades compartidas\04_PROYECTOS I+D+i\2023 MultiModX\iii) Project\WP3 Scenario definition\Case study input data\Spain+abroad\v=0.1\processed_1_connection\paths_itineraries\possible_itineraries_0.csv")

In [3]:
possible_itineraries[possible_itineraries["path"].str.contains("LOWW")]

,origin,destination,option,nservices,path,total_travel_time,total_cost,total_emissions,total_waiting_time,nmodes,journey_type,access_time,egress_time,service_id_0,origin_0,destination_0,provider_0,alliance_0,mode_0,departure_time_0,arrival_time_0,travel_time_0,cost_0,emissions_0,service_id_1,origin_1,destination_1,provider_1,alliance_1,mode_1,departure_time_1,arrival_time_1,travel_time_1,mct_time_0_1,connecting_time_0_1,waiting_time_0_1,cost_1,emissions_1
89957,ES532,ES213,38,2,"['LEPA', 'LOWW', 'LEBB']",805.0,407.57,187.57,255.0,1,air,139.0,41.0,VK_6001,LEPA,LOWW,VK,VK,air,2019-09-06 07:20:00+00:00,2019-09-06 09:50:00+00:00,150.0,200.52,87.72,VK_2322,LOWW,LEBB,VK,VK,air,2019-09-06 15:05:00+00:00,2019-09-06 17:45:00+00:00,160.0,60.0,315.0,255.0,207.05,99.85
142244,ES111,LOWW,0,2,"['LEST', 'LEBL', 'LOWW']",593.0,364.52,148.54,132.0,1,air,143.0,0.0,VY_1677,LEST,LEBL,VY,VY,air,2019-09-06 11:40:00+00:00,2019-09-06 13:25:00+00:00,105.0,168.21,63.34,VY_8716,LEBL,LOWW,VY,VY,air,2019-09-06 16:40:00+00:00,2019-09-06 19:10:00+00:00,150.0,63.0,195.0,132.0,196.31,85.20
142245,ES111,LOWW,1,2,"['LECO', 'LEMD', 'LOWW']",665.0,354.58,198.19,216.0,1,air,115.0,0.0,IB_513,LECO,LEMD,IB,IB,air,2019-09-06 11:35:00+00:00,2019-09-06 12:55:00+00:00,80.0,138.57,61.46,IB_3124,LEMD,LOWW,IB,IB,air,2019-09-06 17:50:00+00:00,2019-09-06 20:45:00+00:00,175.0,79.0,295.0,216.0,216.01,136.73
142246,ES111,LOWW,2,2,"['LECO', 'LEMD', 'LOWW']",685.0,354.58,158.07,236.0,1,air,115.0,0.0,IB_519,LECO,LEMD,IB,IB,air,2019-09-06 07:20:00+00:00,2019-09-06 08:40:00+00:00,80.0,138.57,45.95,IB_3122,LEMD,LOWW,IB,IB,air,2019-09-06 13:55:00+00:00,2019-09-06 16:50:00+00:00,175.0,79.0,315.0,236.0,216.01,112.12
142247,ES111,LOWW,3,2,"['LEST', 'LEMD', 'LOWW']",693.0,352.24,181.50,221.0,1,air,143.0,0.0,IB_3875,LEST,LEMD,IB,IB,air,2019-09-06 11:35:00+00:00,2019-09-06 12:50:00+00:00,75.0,136.23,44.77,IB_3124,LEMD,LOWW,IB,IB,air,2019-09-06 17:50:00+00:00,2019-09-06 20:45:00+00:00,175.0,79.0,300.0,221.0,216.01,136.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224087,LOWW,ES618,45,2,"['LOWW', 'LEMG', '007102003', '007102002']",785.0,232.15,129.63,374.0,2,multimodal,0.0,89.0,OE_590,LOWW,LEMG,OE,OE,air,2019-09-06 03:50:00+00:00,2019-09-06 07:05:00+00:00,195.0,229.07,128.66,965_3_4,007102003,007102002,"RENFE VIAJEROS, S.A","RENFE VIAJEROS, S.A",rail,2019-09-06 15:14:00+00:00,2019-09-06 15:26:00+00:00,12.0,115.0,489.0,374.0,3.08,0.97
224088,LOWW,ES618,46,2,"['LOWW', 'LEMG', '007102030', '007102002']",785.0,233.04,129.90,362.0,2,multimodal,0.0,89.0,OE_590,LOWW,LEMG,OE,OE,air,2019-09-06 03:50:00+00:00,2019-09-06 07:05:00+00:00,195.0,229.07,128.66,965_2_4,007102030,007102002,"RENFE VIAJEROS, S.A","RENFE VIAJEROS, S.A",rail,2019-09-06 15:02:00+00:00,2019-09-06 15:26:00+00:00,24.0,115.0,477.0,362.0,3.97,1.24
224089,LOWW,ES618,47,2,"['LOWW', 'LEMG', '007154413', '007102002']",785.0,236.45,130.97,374.0,2,multimodal,0.0,89.0,OE_590,LOWW,LEMG,OE,OE,air,2019-09-06 03:50:00+00:00,2019-09-06 07:05:00+00:00,195.0,229.07,128.66,973_1_3,007154413,007102002,"RENFE VIAJEROS, S.A","RENFE VIAJEROS, S.A",rail,2019-09-06 14:44:00+00:00,2019-09-06 15:26:00+00:00,42.0,85.0,459.0,374.0,7.38,2.31
224090,LOWW,ES618,48,2,"['LOWW', 'LEMD', '007160000', '007102002']",798.0,253.25,146.97,268.0,2,multimodal,0.0,89.0,IB_3125,LOWW,LEMD,IB,IB,air,2019-09-06 05:30:00+00:00,2019-09-06 08:35:00+00:00,185.0,216.01,136.73,648_1_5,007160000,007102002,"RENFE VIAJEROS, S.A","RENFE VIAJEROS, S.A",rail,2019-09-06 14:48:00+00:00,2019-09-06 17:19:00+00:00,151.0,105.0,373.0,268.0,37.24,10.24
224091,LOWW,ES618,49,2,"['LOWW', 'LEMD', '007160000', '007151003']",810.0,257.07,117.59,325.0,2,multimodal,0.0,25.0,W6_2845,LOWW,LEMD,W6,W6,air,2019-09-06 03:50:00+00:00,2019-09-06 06:50:00+00:00,180.0,216.01,106.30,646_1_3,007160000,007151003,"RENFE VIAJEROS, S.A","RENFE VIAJEROS, S.A",rail,2019-09-06 14:00:00+00:00,2019-09-06 16:55:00+00:00,175.0,105.0,430.0,325.0,41.06,11.29

In [4]:
possible_itineraries_clustered_pareto=pd.read_csv(r"G:\Unidades compartidas\04_PROYECTOS I+D+i\2023 MultiModX\iii) Project\WP3 Scenario definition\Case study input data\Spain+abroad\v=0.1\processed_1_connection\paths_itineraries\possible_itineraries_clustered_pareto_0.csv")

In [5]:
possible_itineraries_clustered_pareto.sample(20)

,origin,destination,journey_type,cluster_id,alternative_id,options_in_cluster,total_travel_time,total_cost,total_emissions,total_waiting_time,nservices
16604,LFPO,ES241,air,0,LFPO_ES241_0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]",297.00,164.53,59.35,0.00,1.0
8688,ES511,ES120,air,2,ES511_ES120_2,"[2, 3]",369.00,141.66,46.69,0.00,1.0
15272,ES709,ES523,multimodal,3,ES709_ES523_3,"[3, 4, 5, 7, 8, 9, 10, 11, 13, 14]",525.90,246.60,116.00,14.00,2.0
2283,ES113,ES220,multimodal,30,ES113_ES220_30,[30],574.00,143.26,45.53,92.00,2.0
10852,ES523,ES411,rail,6,ES523_ES411_6,"[6, 7, 9]",355.67,36.84,10.72,0.33,2.0
9938,ES514,LIEE,air,0,ES514_LIEE_0,[0],256.00,149.85,49.21,0.00,1.0
9777,ES514,ES425,rail,33,ES514_ES425_33,[33],638.00,47.00,12.92,0.00,1.0
5607,ES411,ES431,rail,14,ES411_ES431_14,"[14, 15]",540.00,34.36,10.76,57.50,2.0
14005,ES618,ES412,rail,0,ES618_ES412_0,[0],392.00,60.63,17.42,0.00,2.0
14209,ES618,LIMF,multimodal,5,ES618_LIMF_5,[5],628.00,236.52,72.89,15.00,2.0
10088,ES521,ES112,air,2,ES521_ES112_2,[2],455.00,160.04,54.17,0.00,1.0
16773,LFRS,ES120,multimodal,5,LFRS_ES120_5,[5],595.00,198.43,98.07,116.00,2.0
11201,ES531,ES431,air,0,ES531_ES431_0,"[0, 1]",368.50,151.57,52.23,0.00,1.0
1489,EHEH,ES522,multimodal,3,EHEH_ES522_3,[3],425.00,207.40,80.00,25.00,2.0
17141,LICC,ES618,multimodal,3,LICC_ES618_3,[3],865.00,274.10,98.19,245.00,2.0
5946,ES413,ES241,rail,1,ES413_ES241_1,"[1, 2]",528.50,48.70,13.38,0.00,1.0
16068,LFML,ES414,multimodal,0,LFML_ES414_0,[0],408.00,179.42,95.49,51.00,2.0
17288,LIMC,ES617,multimodal,13,LIMC_ES617_13,"[13, 14, 15, 16, 17, 18]",476.33,225.94,88.66,3.33,2.0
2973,ES120,ES704,air,0,ES120_ES704_0,[0],592.00,381.17,175.61,32.00,2.0
2837,ES120,ES300,air,0,ES120_ES300_0,"[0, 1, 2, 3, 4, 5, 6, 7, 8]",271.44,127.30,52.08,0.00,1.0

In [6]:
possible_itineraries_clustered_pareto[possible_itineraries_clustered_pareto["origin"]=="KJFK"]

,origin,destination,journey_type,cluster_id,alternative_id,options_in_cluster,total_travel_time,total_cost,total_emissions,total_waiting_time,nservices
15477,KJFK,ES111,air,0,KJFK_ES111_0,[0],715.00,458.32,58.29,1.0,2.0
15478,KJFK,ES111,air,3,KJFK_ES111_3,"[3, 4]",897.00,461.39,53.12,246.0,2.0
15479,KJFK,ES111,air,5,KJFK_ES111_5,[5],965.00,458.32,43.06,251.0,2.0
15480,KJFK,ES111,multimodal,1,KJFK_ES111_1,"[1, 2]",795.50,376.20,14.35,20.0,2.0
15481,KJFK,ES120,air,0,KJFK_ES120_0,[0],654.00,451.29,37.61,1.0,2.0
15482,KJFK,ES120,multimodal,3,KJFK_ES120_3,[3],1015.00,362.90,10.69,206.0,2.0
15483,KJFK,ES130,air,0,KJFK_ES130_0,[0],684.00,441.77,34.29,6.0,2.0
15484,KJFK,ES130,multimodal,1,KJFK_ES130_1,[1],802.00,359.07,9.64,5.0,2.0
15485,KJFK,ES211,air,0,KJFK_ES211_0,[0],660.00,441.77,34.29,6.0,2.0
15486,KJFK,ES211,multimodal,1,KJFK_ES211_1,"[1, 2]",789.50,348.59,7.70,63.0,2.0
15487,KJFK,ES212,air,0,KJFK_ES212_0,[0],683.00,441.77,34.29,6.0,2.0
15488,KJFK,ES212,multimodal,3,KJFK_ES212_3,[3],912.00,360.57,10.05,63.0,2.0
15489,KJFK,ES213,air,0,KJFK_ES213_0,[0],616.00,441.77,34.29,6.0,2.0
15490,KJFK,ES243,multimodal,0,KJFK_ES243_0,[0],659.00,349.14,7.88,30.0,2.0
15491,KJFK,ES300,air,0,KJFK_ES300_0,"[0, 1, 2, 3, 4, 5]",503.33,323.99,NaN,0.0,1.0
15492,KJFK,ES415,air,0,KJFK_ES415_0,"[0, 1, 2, 3, 4, 5]",674.33,323.99,NaN,0.0,1.0
15493,KJFK,ES422,air,0,KJFK_ES422_0,"[0, 1, 2, 3, 4, 5]",645.33,323.99,NaN,0.0,1.0
15494,KJFK,ES424,air,0,KJFK_ES424_0,"[0, 1, 2, 3, 4, 5]",515.33,323.99,NaN,0.0,1.0
15495,KJFK,ES425,air,0,KJFK_ES425_0,"[0, 1, 2, 3, 4, 5]",555.33,323.99,NaN,0.0,1.0
15496,KJFK,ES432,air,0,KJFK_ES432_0,"[0, 1, 2, 3, 4, 5]",702.33,323.99,NaN,0.0,1.0
15497,KJFK,ES511,air,0,KJFK_ES511_0,"[0, 1]",531.00,331.46,NaN,0.0,1.0
15498,KJFK,ES511,air,2,KJFK_ES511_2,"[2, 3]",673.00,460.22,43.01,26.0,2.0
15499,KJFK,ES511,multimodal,4,KJFK_ES511_4,"[4, 6]",743.50,376.95,14.56,15.0,2.0
15500,KJFK,ES512,air,0,KJFK_ES512_0,"[0, 1]",589.00,331.46,NaN,0.0,1.0
15501,KJFK,ES512,air,2,KJFK_ES512_2,"[2, 3]",731.00,460.22,43.01,26.0,2.0
15502,KJFK,ES512,multimodal,5,KJFK_ES512_5,[5],877.00,384.33,16.59,90.0,2.0
15503,KJFK,ES514,air,0,KJFK_ES514_0,"[0, 1]",574.00,331.46,NaN,0.0,1.0
15504,KJFK,ES514,air,2,KJFK_ES514_2,"[2, 3]",716.00,460.22,43.01,26.0,2.0
15505,KJFK,ES514,multimodal,5,KJFK_ES514_5,[5],810.00,369.03,12.38,90.0,2.0
15506,KJFK,ES521,air,0,KJFK_ES521_0,[0],662.00,446.76,55.04,16.0,2.0
15507,KJFK,ES521,air,2,KJFK_ES521_2,[2],779.00,437.48,48.63,36.0,2.0
15508,KJFK,ES521,multimodal,1,KJFK_ES521_1,[1],763.00,362.17,10.50,80.0,2.0
15509,KJFK,ES522,air,0,KJFK_ES522_0,[0],729.00,437.48,48.63,36.0,2.0
15510,KJFK,ES522,multimodal,1,KJFK_ES522_1,[1],837.00,356.96,9.06,100.0,2.0
15511,KJFK,ES523,air,0,KJFK_ES523_0,[0],679.00,437.48,48.63,36.0,2.0
15512,KJFK,ES523,multimodal,1,KJFK_ES523_1,"[1, 2]",791.00,350.98,7.84,100.0,2.0
15513,KJFK,ES531,air,0,KJFK_ES531_0,[0],686.00,457.81,63.65,51.0,2.0
15514,KJFK,ES531,air,2,KJFK_ES531_2,[2],1431.00,457.81,43.60,801.0,2.0
15515,KJFK,ES532,air,0,KJFK_ES532_0,[0],824.00,466.39,47.97,151.0,2.0
15516,KJFK,ES533,air,0,KJFK_ES533_0,[0],945.00,476.37,80.32,286.0,2.0
15517,KJFK,ES614,air,0,KJFK_ES614_0,[0],715.00,447.95,55.91,86.0,2.0
15518,KJFK,ES614,multimodal,2,KJFK_ES614_2,"[2, 3]",915.00,360.98,10.17,17.5,2.0
15519,KJFK,ES617,air,3,KJFK_ES617_3,[3],880.00,455.10,61.44,251.0,2.0
15520,KJFK,ES617,multimodal,0,KJFK_ES617_0,[0],741.00,367.87,12.06,0.0,2.0
15521,KJFK,ES618,air,0,KJFK_ES618_0,[0],634.00,451.06,58.26,16.0,2.0
15522,KJFK,ES618,multimodal,1,KJFK_ES618_1,[1],740.00,365.05,11.29,5.0,2.0
15523,KJFK,ES709,air,0,KJFK_ES709_0,[0],805.00,538.65,104.54,66.0,2.0

It seems that for some rows we have NaN values

In [7]:
possible_itineraries_clustered_pareto[possible_itineraries_clustered_pareto["total_travel_time"].isna()]

Empty DataFrame
Columns: [origin, destination, journey_type, cluster_id, alternative_id, options_in_cluster, total_travel_time, total_cost, total_emissions, total_waiting_time, nservices]
Index: []

In [8]:
possible_itineraries_clustered_pareto[possible_itineraries_clustered_pareto["total_cost"].isna()]

,origin,destination,journey_type,cluster_id,alternative_id,options_in_cluster,total_travel_time,total_cost,total_emissions,total_waiting_time,nservices
1808,ES111,ES112,none,31,ES111_ES112_31,[31],162.0,NaN,NaN,0.0,0.0
1809,ES111,ES112,none,36,ES111_ES112_36,[36],264.0,NaN,NaN,0.0,0.0
1812,ES111,ES113,none,34,ES111_ES113_34,[34],278.0,NaN,NaN,0.0,0.0
2105,ES112,ES111,none,33,ES112_ES111_33,[33],159.0,NaN,NaN,0.0,0.0
2106,ES112,ES111,none,36,ES112_ES111_36,[36],260.0,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
14109,ES618,ES615,none,13,ES618_ES615_13,[13],147.0,NaN,NaN,0.0,0.0
14110,ES618,ES615,none,14,ES618_ES615_14,[14],255.0,NaN,NaN,0.0,0.0
14464,ES620,ES521,none,76,ES620_ES521_76,"[76, 77]",116.0,NaN,NaN,0.0,0.0
14481,ES620,ES611,none,26,ES620_ES611_26,[26],197.0,NaN,NaN,0.0,0.0
14482,ES620,ES611,none,27,ES620_ES611_27,[27],426.0,NaN,NaN,0.0,0.0

when the journey type is none (only access and egress) we have no total costs or emission

In [9]:
possible_itineraries_clustered_pareto[(possible_itineraries_clustered_pareto["total_cost"].isna())&(~possible_itineraries_clustered_pareto["journey_type"].str.contains("none"))]

Empty DataFrame
Columns: [origin, destination, journey_type, cluster_id, alternative_id, options_in_cluster, total_travel_time, total_cost, total_emissions, total_waiting_time, nservices]
Index: []

In [10]:
possible_itineraries_clustered_pareto[(possible_itineraries_clustered_pareto["total_emissions"].isna())&(~possible_itineraries_clustered_pareto["journey_type"].str.contains("none"))]

,origin,destination,journey_type,cluster_id,alternative_id,options_in_cluster,total_travel_time,total_cost,total_emissions,total_waiting_time,nservices
301,EDDF,ES709,air,0,EDDF_ES709_0,[0],389.0,264.98,NaN,0.0,1.0
363,EDDH,ES709,air,0,EDDH_ES709_0,[0],409.0,274.25,NaN,0.0,1.0
478,EDDL,ES709,air,0,EDDL_ES709_0,"[0, 1, 2]",389.0,264.95,NaN,0.0,1.0
573,EDDM,ES709,air,0,EDDM_ES709_0,[0],399.0,267.22,NaN,0.0,1.0
631,EDDS,ES709,air,0,EDDS_ES709_0,[0],389.0,263.43,NaN,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
15608,KSFO,ES422,air,0,KSFO_ES422_0,"[0, 1]",870.0,383.39,NaN,0.0,1.0
15609,KSFO,ES424,air,0,KSFO_ES424_0,"[0, 1]",740.0,383.39,NaN,0.0,1.0
15610,KSFO,ES425,air,0,KSFO_ES425_0,"[0, 1]",780.0,383.39,NaN,0.0,1.0
16000,LFLL,ES704,air,0,LFLL_ES704_0,[0],328.0,243.34,NaN,0.0,1.0
16564,LFPG,ES709,air,0,LFPG_ES709_0,[0],364.0,253.30,NaN,0.0,1.0

In [11]:
possible_itineraries_clustered_pareto.shape[0]

18375

Some itineraries have no total emission but they should have. I will check if these are only international flights

In [12]:
def contains_numbers(str):
    for char in str:
        if char.isdigit():
            return True
    return False

In [13]:
for idx,row in possible_itineraries_clustered_pareto[(possible_itineraries_clustered_pareto["total_emissions"].isna())&(~possible_itineraries_clustered_pareto["journey_type"].str.contains("none"))].iterrows():
    if contains_numbers(row["origin"]):
        if contains_numbers(row["destination"]):
            print(f"there is a national trip without CO2 at index {idx}")


print("done!")

there is a national trip without CO2 at index 14913
done!

In [14]:
possible_itineraries_clustered_pareto.iloc[14913]

origin                         ES705
destination                    ES614
journey_type                     air
cluster_id                        44
alternative_id        ES705_ES614_44
options_in_cluster              [44]
total_travel_time             1019.0
total_cost                    540.92
total_emissions                  NaN
total_waiting_time             130.0
nservices                        2.0
Name: 14913, dtype: object

Unexpectedly, there is a national trip without CO2, but there are many more international trips without CO2

In [15]:
possible_itineraries_clustered_pareto[(possible_itineraries_clustered_pareto["origin"]=="KJFK")&(possible_itineraries_clustered_pareto["destination"]=="ES511")].head()

,origin,destination,journey_type,cluster_id,alternative_id,options_in_cluster,total_travel_time,total_cost,total_emissions,total_waiting_time,nservices
15497,KJFK,ES511,air,0,KJFK_ES511_0,"[0, 1]",531.0,331.46,NaN,0.0,1.0
15498,KJFK,ES511,air,2,KJFK_ES511_2,"[2, 3]",673.0,460.22,43.01,26.0,2.0
15499,KJFK,ES511,multimodal,4,KJFK_ES511_4,"[4, 6]",743.5,376.95,14.56,15.0,2.0

In [16]:
possible_itineraries[(possible_itineraries["origin"]=="KJFK")&(possible_itineraries["destination"]=="ES511")].head()

,origin,destination,option,nservices,path,total_travel_time,total_cost,total_emissions,total_waiting_time,nmodes,journey_type,access_time,egress_time,service_id_0,origin_0,destination_0,provider_0,alliance_0,mode_0,departure_time_0,arrival_time_0,travel_time_0,cost_0,emissions_0,service_id_1,origin_1,destination_1,provider_1,alliance_1,mode_1,departure_time_1,arrival_time_1,travel_time_1,mct_time_0_1,connecting_time_0_1,waiting_time_0_1,cost_1,emissions_1
202145,KJFK,ES511,0,1,"['KJFK', 'LEBL']",523.0,331.46,NaN,NaN,1,air,0.0,63.0,AA_66,KJFK,LEBL,AA,AA,air,2019-09-06 21:05:00+00:00,2019-09-07 04:45:00+00:00,460.0,331.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202146,KJFK,ES511,1,1,"['KJFK', 'LEBL']",539.0,331.46,NaN,NaN,1,air,0.0,63.0,DL_476,KJFK,LEBL,DL,DL,air,2019-09-07 00:39:00+00:00,2019-09-07 08:35:00+00:00,476.0,331.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202147,KJFK,ES511,2,2,"['KJFK', 'LEMD', 'LEBL']",673.0,460.22,41.25,26.0,1,air,0.0,63.0,IB_6250,KJFK,LEMD,IB,IB,air,2019-09-05 21:05:00+00:00,2019-09-06 04:15:00+00:00,430.0,323.99,NaN,IB_80,LEMD,LEBL,IB,IB,air,2019-09-06 06:00:00+00:00,2019-09-06 07:15:00+00:00,75.0,79.0,105.0,26.0,136.23,41.25
202148,KJFK,ES511,3,2,"['KJFK', 'LEMD', 'LEBL']",673.0,460.22,44.77,26.0,1,air,0.0,63.0,IB_6250,KJFK,LEMD,IB,IB,air,2019-09-05 21:05:00+00:00,2019-09-06 04:15:00+00:00,430.0,323.99,NaN,IB_800,LEMD,LEBL,IB,IB,air,2019-09-06 06:00:00+00:00,2019-09-06 07:15:00+00:00,75.0,79.0,105.0,26.0,136.23,44.77
202149,KJFK,ES511,4,2,"['KJFK', 'LEMD', '007160000', '007171801']",721.0,376.95,14.56,0.0,2,multimodal,0.0,36.0,IB_6250,KJFK,LEMD,IB,IB,air,2019-09-05 21:05:00+00:00,2019-09-06 04:15:00+00:00,430.0,323.99,NaN,706_1_2,007160000,007171801,"RENFE VIAJEROS, S.A","RENFE VIAJEROS, S.A",rail,2019-09-06 06:00:00+00:00,2019-09-06 08:30:00+00:00,150.0,105.0,105.0,0.0,52.96,14.56

In [17]:
flight_schedules=pd.read_csv(r"G:\Unidades compartidas\04_PROYECTOS I+D+i\2023 MultiModX\iii) Project\WP3 Scenario definition\Case study input data\Spain+abroad\v=0.1\flights_schedules\flight_schedules_oag_es_v0.3.csv")

In [18]:
flight_schedules[(flight_schedules["origin"]=="KJFK")&(flight_schedules["destination"]=="LEBL")]

,service_id,origin,destination,dep_terminal,arr_terminal,sobt,sibt,sobt_tz,sibt_tz,sobt_local,sibt_local,sobt_local_tz,sibt_local_tz,provider,act_type,seats,gcdistance
2228,AA_66,KJFK,LEBL,8,1,2019-09-06 21:05:00,2019-09-07 04:45:00,+00:00,+00:00,2019-09-06 17:05:00,2019-09-07 06:45:00,-04:00,+02:00,AA,772,273,6146
2229,DL_476,KJFK,LEBL,4,1,2019-09-07 00:39:00,2019-09-07 08:35:00,+00:00,+00:00,2019-09-06 20:39:00,2019-09-07 10:35:00,-04:00,+02:00,DL,764,246,6146

In [19]:
flight_schedules[(flight_schedules["origin"]=="KJFK")&(flight_schedules["destination"]=="LEMD")]

,service_id,origin,destination,dep_terminal,arr_terminal,sobt,sibt,sobt_tz,sibt_tz,sobt_local,sibt_local,sobt_local_tz,sibt_local_tz,provider,act_type,seats,gcdistance
2230,IB_6250,KJFK,LEMD,7,4S,2019-09-05 21:05:00,2019-09-06 04:15:00,+00:00,+00:00,2019-09-05 17:05:00,2019-09-06 06:15:00,-04:00,+02:00,IB,359,348,5757
2231,AA_94,KJFK,LEMD,8,4S,2019-09-06 23:00:00,2019-09-07 06:10:00,+00:00,+00:00,2019-09-06 19:00:00,2019-09-07 08:10:00,-04:00,+02:00,AA,772,273,5757
2232,DL_126,KJFK,LEMD,4,1,2019-09-06 23:38:00,2019-09-07 07:15:00,+00:00,+00:00,2019-09-06 19:38:00,2019-09-07 09:15:00,-04:00,+02:00,DL,764,246,5757
2233,IB_6252,KJFK,LEMD,7,4S,2019-09-07 00:50:00,2019-09-07 08:10:00,+00:00,+00:00,2019-09-06 20:50:00,2019-09-07 10:10:00,-04:00,+02:00,IB,359,348,5757
2234,UX_92,KJFK,LEMD,4,1,2019-09-07 02:05:00,2019-09-07 09:40:00,+00:00,+00:00,2019-09-06 22:05:00,2019-09-07 11:40:00,-04:00,+02:00,UX,332,297,5757
2235,DY_7704,KJFK,LEMD,1,2,2019-09-07 03:55:00,2019-09-07 11:05:00,+00:00,+00:00,2019-09-06 23:55:00,2019-09-07 13:05:00,-04:00,+02:00,DY,789,338,5757

Perhaps the fact that the pipeline doesn't calculate waiting times for these flights is related to the arrival time being on the 7?